<% provide(:title, 'Restaurar contraseña') %>
<div class="masonry-item col-md-12">
  <!-- #Todo ==================== -->
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <h5 class="float-left pL-15">Restaurar mi contraseña - <%= @user.name + " " + @user.lastName %></h5>
      </div>
      <div class="layer w-100 p-20 text-center">
        <%= form_for(@user, url: update_password_path(params[:reset_digest])) do |f| %>
          <%= render 'layouts/errors_form', object: @user %>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                <%= hidden_field_tag :email, @user.email %>

                <div class="row">
                  <div class="col-md-6 col-sm-12 mT-15">
                    <%= image_tag("logo2.png", {:class => "card-img-top", :alt => "Card image cap"}) %>
                  </div>
                  <div class="col-md-6 col-sm-12 mT-15">
                    <div class="space-line">&nbsp;</div>
                    <div class="space-line">&nbsp;</div>
                    <%= f.label :password, "#{@required_str}Contraseña" %>
                    <%= f.password_field :password,
                                         class: 'form-control',
                                         :minlength => 6,
                                         :maxlength => 64,
                                         required: 'true',
                                         readonly: @readonly %>

                    <br/>

                    <%= f.label :password_confirmation, "#{@required_str}Confirmación de contraseña" %>
                    <%= f.password_field :password_confirmation,
                                         class: 'form-control',
                                         required: 'true',
                                         readonly: @readonly %>
                  </div>

                </div>
              </div>
            </div>
            <span id='message-reset-password'></span>
          </div>
          <% if !@readonly %>
            <div id="form-footer">
              <hr>
              <%= link_to 'Cancelar','_self', :onclick=>'window.close();', class: 'btn btn-outline-danger'%>
              <%= f.submit "Guardar", class: 'btn btn-primary save-button', name: 'save_pass', id: 'save_pass'%>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="container590">
  <div class="container-collapse">
    <div class="space-line">&nbsp;</div>
    <a href="" style="aImageContact">
      <%= image_tag("logo2.png", {:class => "imageEmailContact", :alt => "", :width => "80", :border => "0"}) %>
    </a>
    <div class="space-line">&nbsp;</div>
    <div class="container-contact-text text_color">
      <div class="container-contact-text">
        Correo de contacto: <br/> <a href="mailto:" class="container-contact-text">inframex.qro@gmail.com</a>
      </div>

    </div>
    <div class="space-line">&nbsp;</div>
    <div class="container-collapse">
      <a href="https://www.facebook.com/mdbootstrap"><img width="24" border="0" src="http://i.imgur.com/Qc3zTxn.png" alt=""></a>
      <a href="https://twitter.com/MDBootstrap"><img width="24" border="0" src="http://i.imgur.com/RBRORq1.png" alt=""></a>
      <a href="https://plus.google.com/u/0/b/107863090883699620484/107863090883699620484/posts"><img width="24" border="0" src="http://i.imgur.com/Wji3af6.png" alt=""></a>
    </div>
    <div class="space-line">&nbsp;</div>
  </div>
</div>

<div class="footer-email">
  <div class="container590">
    <div class="space-line">&nbsp;</div>
    <div class="container-collapse">
      <div class="container-text">
        <div style="line-height: 24px;">
          <span>Derechos Reservados Inframex ®2018</span>
        </div>
      </div>
    </div>
    <div align="center">
      <%= link_to("INFRAMEX", "https://inframx.herokuapp.com/", class: "footer-text") %>
    </div>
    <div class="space-line">&nbsp;</div>
  </div>
</div>
