<% provide(:title, 'Login') %>
<div id="particles-id" style="width: 100%; height: 100%; background: #212E3B; position: relative;">
  <div style="padding-top: 5%; padding-left: 36%; position: absolute;">
    <%= image_tag"logo.png" %>
    <div class="card" style="position: absolute; margin-left: 10px">
      <div class="card-header">
        <h3>Inicia Sesión</h3>
      </div>
      <div class="card-body">
        <%= form_for(:sessions, url: {action: "create"}, method: :post) do |f| %>
          <%= render 'layouts/errors' %>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-user"></i></span>
            </div>
            <%= email_field :session, :email , class: 'form-control', required: 'true' %>

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-lock"></i></span>
            </div>
            <%= password_field :session, :password,  class: 'form-control', required: 'true', min: '0' %>
          </div>
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Recordar sesión</span>
          <% end %>
          <div class="form-group">
            <input type="submit" value="Iniciar sesión" class="btn float-right login_btn">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "login.js" %>
<% end %>