<% if @blog.files.attached? %>
  <div class="layer w-100 p-20 text-center">
    <div class="row">
      <% @blog.files.each do |file|%>
        <div class="file-card">
          <%= image_tag file.variant(resize: "200x200"), class: "card-img-top", id: file.id, data: {toggle: 'modal', target: '#file_'+file.id.to_s } %>
          <div id="file_<%= file.id %>" class="modal fade bd-example-modal-lg" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <%= image_tag file.variant(resize: '50%x50%') %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
          </div>
          <div class="card-body">
            <%= link_to raw('<button type="button" class="btn btn-outline-danger btn-circle">
                  <i class="ti-trash icon-white" aria-hidden="true"></i>
                </button>').html_safe,
                delete_image_attachment_project_blog_url(file.signed_id, project_id: @project.id, blog_id: @blog.id,),
                method: :delete,
                project_id: @project.id,
                blog_id: @blog.id,
                id: file.id,
                data: { confirm: 'Are you sure?' } %>

            <%= link_to raw('<button type="button" class="btn btn-outline-primary btn-circle">
                  <i class="ti-download icon-white" aria-hidden="true"></i>
                </button>').html_safe, file, download: file.blob.filename %>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-md-10">
    <p class="lead">Actualmente no hay registros de archivos en esta bitácora</p>
  </div>
<% end %>
