
<%= form_for @blog, html: {class: "md-form"} do |f| %>
  <%= render 'layouts/errors_form', object: @blog %>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-md-12">
            <p>Los campos marcados con '*' son obligatorios.</p>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :name, "* Nombre de la bitácora:" %>
            <%= f.text_field :name,
                             class:"form-control",
                             required: 'true',
                             placeholder: "e.g. Bitácora B12",
                             readonly: @readonly %>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :description, "* Descripción: " %>
            <%= f.text_area :description,
                             class: 'form-control',
                             required: 'true',
                             :maxlength => 1024,
                             placeholder: "e.g. En la siguiente bitácora se registran...",
                             readonly: @readonly %>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :blog_date, "* Fecha de la bitácora: " %>
            <%= f.date_field :blog_date,
                             class: 'form-control',
                             required: 'true', start_year: 2000,
                             readonly: @readonly %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if !@readonly %>
    <div id="form-footer-blog">
      <hr>
      <button type="button" class="btn btn-outline-danger">Cancelar</button>
      <%= f.submit "Guardar", class: 'btn save-button' %>
    </div>
  <% end %>
<% end %>
