<h2> Formulario de bitácora</h2>

<%= form_for :blog, :html => {:class => "form-horizontal center"}, url: blogs_path do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Bitácora B2'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_area :description, class: 'form-control', placeholder: 'La siguiente bitácora muestra los avances...' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :blog_date, class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.date_field :blog_date, "data-provide" => 'datepicker' %>
    </div>
  </div>
  <%= f.submit class: "btn btn-default btn-primary"%> <a href="<%= blogs_path %>" class="btn btn-danger"> Cancelar </a>
<% end %>
