<% provide(:title, 'Bitácoras') %>
<% if has_privilege(current_user, "blog_1") %>
<div class="masonry-item col-md-12">
  <div class="bgc-grey-300">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15" style="padding-bottom: 0px !important;">
        <% if has_privilege(current_user, "project_1") %>
          <%= link_to '<button type="button" class="btn btn-outline-light btn-circle float-left">
                      <i class="ti-arrow-left"></i>
                    </button>'.html_safe,
                      projects_path
          %>
        <% end %>
        <h5 class="float-left pL-15">Proyecto - <%= @project.name %> - <%= @project.code%></h5>
        <%= render 'layouts/tabs' %>
      </div>
      <div class="layer w-100 pT-20 pB-20">
        <div class="masonry-item col-md-12">
          <div class="bgc-white">
            <div class="layers">
              <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                <h5 class="float-left fsz-md">Registro de bitácoras</h5>
                <% if has_privilege(current_user, "blog_2") %>
                  <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                        id="new-blog-button"">
                        <i class="ti-plus"></i>
                        Registrar nueva bitácora
                      </button>'.html_safe,
                              new_project_blog_path(@project)
                  %>
                <% end %>
              </div>
              <% if @blogs.blank? %>

                <div class="row">
                  <div class="col-md-10">
                    <p class="lead">Actualmente no se encuentra registrada ninguna bitácora para este proyecto.</p>
                  </div>
                </div>

              <% else %>

                <div class="layer w-100 p-20 text-center">
                  <div class="table-responsive">
                    <table class="table table-hover datatable" id="blogs-datatable" role="datatable">
                      <thead>
                      <tr>
                        <th scope="col">Fecha de creación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <% if has_privilege(current_user, "blog_6") %>
                          <% if !has_privilege(current_user, "blog_7") %>
                            <th scope="col">Estado de Aprobación</th>
                          <% end %>
                        <% end %>
                        <th scope="col">Acciones</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @blogs.each do |blog| %>
                        <tr>
                          <td data-sort="<%= blog.date.strftime("%Y%m%d%H%M%s") %>"><%= blog.date.strftime("%d/%m/%Y") %></td>
                          <td><%= blog.name %></td>
                          <td class="text-truncate text-truncate" style="max-width: 150px;"> <%= blog.description %></td>
                          <% if !has_privilege(current_user, "blog_7") %>
                            <% if has_privilege(current_user, "blog_6") %>
                              <td>
                                <% if has_privilege(current_user, "blog_5") %>
                                  <label class="switch">
                                    <input class="activate-switch status-blog"
                                           id="status-<%= "#{controller.controller_name}-#{blog.id}" %>"
                                           project-id="<%= "#{@project.id}" %>"
                                           data-id="<%= "#{blog.id}" %>"
                                           name="projects/<%= "#{@project.id}" %>/blogs/"
                                           type="checkbox"
                                           <%= if (blog.status)
                                                 "checked"
                                               end %>>
                                    <span class="slider round"></span>
                                  </label>
                                <% else %>
                                  <label class="switch">
                                    <input class="activate-switch status-blog"
                                           type="checkbox"
                                           <%= if (blog.status)
                                                 "checked"
                                               end %> disabled>
                                    <span class="slider round"></span>
                                  </label>
                                <% end %>
                              </td>
                            <% end %>
                          <% end %>
                          <td>
                            <% if has_privilege(current_user, "blog_1") %>
                              <%= link_to raw('<button type="button" class="btn btn-outline-primary btn-circle">
                        <i class="ti-eye icon-white" aria-hidden="true"></i>
                      </button>').html_safe, {controller: :blogs, action: :show, :id => blog.id, :project_id => @project.id} %>
                            <% end %>
                            <% if has_privilege(current_user, "blog_3") %>
                              <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                        <i class="ti-pencil icon-white" aria-hidden="true"></i>
                      </button>').html_safe, {controller: :blogs, action: :edit, :id => blog.id, :project_id => @project.id} %>
                            <% end %>
                            <% if has_privilege(current_user, "blog_4") %>
                              <button type="button" class="btn btn-outline-danger btn-circle delete-blog-ajax"
                                      data-blog-id="<%= blog.id %>" data-project-id="<%= @project.id %>">
                                <i class="ti-trash" aria-hidden="true"></i>
                              </button>
                            <% end %>
                          </td>


                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>

              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>