<div class="row">
    <div class="col-md-10">
        <h2 class="display-4">Registro de bitácoras</h2>
        <p class="lead">Aquí estaran registradas todas las bitácoras de este proyecto</p>
    </div>
</div>

<% if @blogs.blank? %>

  <div class="row">
      <div class="col-md-10">
          <p class="lead">Actualmente no se encuentra registrada ninguna bitácora para este proyecto.</p>
      </div>
  </div>

<% else %>

  <div class="row">
      <div class="col-md-10">
          <a href="<%= new_blog_path %>" class="btn btn-primary"> Agregar nueva bitácora </a>
      </div>
  </div>
  </br>

  <div class="container">
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#Bitácora</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @blogs.each do |blog| %>
        <tbody>
          <tr>
            <th scope="row"> <%= blog.id %> </th>
            <td><%= blog.name %></td>
            <td> <%= blog.description %></td>
            <% if blog.status %>
            <td> En espera </td>
            <% else %>
            <td> Aprobada </td>
            <% end %>
            <td><%= blog.blog_date %></td>
            <td><a href="#" class="btn btn-info"> Ver </a></td>
            <% if blog.status %>
            <td><a href="#" class="btn btn-success"> Aprobar </a></td>
            <% else %>
            <td><a href="#" class="btn btn-warning"> Desaprobar </a></td>
            <% end %>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

<%end%>
