<% provide(:title, 'Bitácora') %>
<div class="masonry-item col-md-6">
  <!-- #Todo ==================== -->
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <%= link_to '<button type="button" class="btn btn-outline-light btn-circle float-left">
                      <i class="ti-arrow-left"></i>
                    </button>'.html_safe,
                    blogs_path
        %>
        <h5 class="float-left pL-15">Bitácora - <%= @blog.name + " - " + @blog.blog_date.to_s %></h5>
        <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                      id="new-blog-button2">
                      <i class="ti-pencil"></i>
                    </button>'.html_safe,
                    edit_blog_path(@blog)
        %>

        <%= link_to raw("<button type=\"button\" class=\"btn btn-danger float-right delete-blog btn-sm mR-5\"
                  data-blog-id=\"#{@blog.id}\">
                  <i class=\"ti-trash\" aria-hidden=\"true\"></i>
                 </button>").html_safe, destroy_blog_path(@blog.id), method: :delete, :remote => @blog.jobs.count > 0%>

      </div>
      <div class="layer w-100 p-20 text-center">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

<%= render "jobs/index"%>
