
<%= form_for [@project, @concept, @job] do |f| %>
  <%= render 'layouts/errors_form', object: @job %>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row text-center">
          <div class="col-md-12">
            <p>Los campos marcados con '*' son obligatorios.</p>
          </div>
          <%= f.hidden_field :concept_id, value: @concept.id %>
          <div class="col-md-6 mT-15">
            <%= f.label :name, "#{@required_str}Nombre del trabajo:" %>
            <%= f.text_field :name,
                             class:"form-control",
                             required: 'true',
                             placeholder: "e.g. Pintar pared...",
                             readonly: @readonly %>
          </div>
          <div class="col-md-6 mT-15">
            <%= f.label :quantity, "#{@required_str}Cantidad:" %>
            <%= f.number_field :quantity,
                               class:"form-control",
                               required: 'true',
                               placeholder: "e.g. 10",
                               step: 0.001,
                               readonly: @readonly %>
          </div>
          <div class="col-md-6 mT-15">
              <%= f.label :unity, "#{@required_str}Unidad:" %>
              <%= f.text_field :unity, 
                               class:"form-control",
                               required: 'true', 
                               placeholder: "e.g. m2", 
                               readonly: @readonly %>
          </div>
          <div class="col-md-6 mT-15">
            <%= f.label :weight, "#{@required_str}Peso:" %>
            <%= f.number_field :weight,
                               class:"form-control",
                               required: 'true',
                               placeholder: "e.g. 10",
                               step: 0.001,
                               readonly: @readonly %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if !@readonly %>
    <div id="form-footer-job">
      <hr>
      <div class="text-center">
        <a href="<%= project_concept_path(@project, @concept)%>" 
          class="btn btn-outline-danger">Cancelar</a>
        <%= f.submit "Guardar", class: 'btn btn-primary save-button' %>
      </div>
    </div>
  <% end %>
<% end %>
