<div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
  <h5 class="float-left">Trabajos del Concepto</h5>
  <% if has_privilege(current_user, "job_1") %>
  <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                        id="new-job-button"">
                        <i class="ti-plus"></i>
                        Agregar trabajo
                      </button>'.html_safe,
                    new_project_concept_job_path(@project, @concept)%>
  <% end %>
</div>

<div class="layer w-100 p-20">
  <% if @concept.jobs.blank? %>
      <div class="row">
          <div class="col-md-10">
              <p class="lead">Actualmente no hay registros de trabajos en este concepto</p>
          </div>
      </div>
  <% else %>
    <div class="layer w-100 p-20">
      <table class="table text-center" id="jobs-datatable">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Cant. Aprobada</th>
            <th scope="col">Progreso</th>
            <th scope="col">Peso</th>
            <th scope="col">Avances</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
        <% @concept.jobs.each do |job| %>
          <tr class="bgcH-grey-200">
            <td><%= job.name %></td>
            <td><%= number_with_delimiter(job.quantity) %> <%= job.unity %></td>
            <td><%= number_with_delimiter(job.sum_job_progresses_quantity_by_status(true)) %> <%= job.unity %></td>
            <td><%= job.get_progress_100.round(2) %>%</td>
            <td><%= job.weight %></td>
            <td class="text-center">
              <button type="button" class="btn btn-outline-primary btn-circle"
                data-toggle="collapse" data-target="#collapseJobProgresses<%= job.id %>" aria-expanded="false" aria-controls="collapseJobProgresses<%= job.id %>">
                <i class="ti-files"></i>
              </button>
            </td>
            <td>
              <% if has_privilege(current_user, "job_2") %>
              <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                <i class="ti-pencil icon-white" aria-hidden="true"></i>
                </button>').html_safe, edit_project_concept_job_path(project_id: @project, concept_id: @concept, id: job)%>
              <% end %>
  
              <% if has_privilege(current_user, "job_3") %>
              <button type="button" class="btn btn-outline-danger btn-circle delete-job"
                      data-job-id="<%= job.id %>"
                      data-concept-id="<%= @concept.id %>"
                      data-project-id="<%= @project.id %>">
                <i class="ti-trash" aria-hidden="true"></i>
              </button>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="7" class="p-0" style="border-top: 0px;">
              <div class="collapse p-40 bgc-grey-100" id="collapseJobProgresses<%= job.id %>">
              <% if job.job_progress.count > 0 %>
                <table class="table table-hover job_progress-datatable" role="datatable">
                  <thead>
                    <tr>
                      <% if has_privilege(current_user, "blog_1") %>
                        <th scope="col">Bitácora</th>
                      <% end %>
                      <th scope="col">Cantidad Avance</th>
                      <% if has_privilege(current_user, "job_prog_5") || has_privilege(current_user, "job_prog_6") %>
                        <th scope="col">Status Avance</th>
                      <% end %>
                      <% if has_privilege(current_user, "job_prog_2") || has_privilege(current_user, "job_prog_3") %>
                        <th scope="col">Acciones</th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                  <% job.job_progress.each do |job_progress| %>
                    <tr>
                      <% if has_privilege(current_user, "blog_1") %>
                        <td>
                          <%= link_to job_progress.blog.name, project_blog_path(project_id: @concept.project_id, id: job_progress.blog.id) %>
                        </td>
                      <% end %>
                      <td class="text-center"><%= number_with_delimiter(job_progress.quantity) %> <%= job.unity %></td>
                      <% if has_privilege(current_user, "job_prog_5") || has_privilege(current_user, "job_prog_6") %>
                        <td>
                          <label class="switch">
                            <input class="activate-switch status-job_progress" id="status-<%= "job_progress-#{job_progress.id}" %>"
                                   data-id="<%= job_progress.id %>"
                                   name="job_progresses"
                                   type="checkbox"
                                   <%= if job_progress.status
                                         "checked"
                                       end %> 
                                       <%= if !has_privilege(current_user, "job_prog_5")
                                         "disabled"
                                       end %>>
                            <span class="slider round"></span>
                          </label>
                        </td>
                      <% end %>
                      <% if has_privilege(current_user, "job_prog_2") || has_privilege(current_user, "job_prog_3") %>
                      <td>
                        <% if has_privilege(current_user, "job_prog_2") %>
                        <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                          <i class="ti-pencil icon-white" aria-hidden="true"></i>
                          </button>').html_safe, edit_project_blog_job_progress_path(project_id: @project, blog_id: job_progress.blog.id, id: job_progress)%>
                        <% end %>
            
                        <% if has_privilege(current_user, "job_prog_3") %>
                        <button type="button" class="btn btn-outline-danger btn-circle delete-job_progress"
                                data-job_progress-id="<%= job_progress.id %>"
                                data-blog-id="<%= job_progress.blog.id %>"
                                data-project-id="<%= @project.id %>">
                          <i class="ti-trash" aria-hidden="true"></i>
                        </button>
                        <% end %>
                      </td>
                      <% end %>
                    </tr>
                  <% end %>
                  </tbody>
                  <tfooter>
                  <tr class="bgc-blue-grey-900">
                    <td class="c-white text-left"><strong>Total Aprobado:</strong></td>
                    <td class="c-white"><strong><%= number_with_delimiter(job.sum_job_progresses_quantity_by_status(true)) %> <%= job.unity %></strong></td>
                    <td colspan="4"></td>
                  </tr>
                  <tr class="bgc-blue-grey-900">
                    <td class="c-white text-left"><strong>Total:</strong></td>
                    <td class="c-white"><strong><%= number_with_delimiter(job.sum_all_job_progresses_quantity) %> <%= job.unity %></strong></td>
                    <td colspan="4"></td>
                  </tr>
                </tfooter>
                </table>
              <% else %>
                <div class="row">
                  <div class="col-md-10">
                    <p class="lead">Actualmente no hay registros de avances para este trabajo</p>
                  </div>
                </div>
              <% end %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <%end%>
</div>