<div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
  <h5 class="float-left">Trabajos realizados</h5>
    <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                  id="new-job-button">
                  <i class="ti-plus"></i>
                  Agregar trabajo
                </button>'.html_safe,
                new_project_blog_job_path(@project, @blog)
    %>
</div>

<% if @blog.jobs.blank? %>

  <div class="layer w-100 p-20">
    <div class="row">
        <div class="col-md-10">
            <p class="lead">Actualmente no hay registros de trabajos en esta bitácora</p>
        </div>
    </div>
  </div>

<% else %>

  <div class="layer w-100 p-20">
    <table class="table table-hover datatable" id="jobs-datatable" role="datatable">
      <thead>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Nombre</th>
          <th scope="col">Concepto</th>
          <th scope="col">Cantidad Avance</th>
          <th scope="col">Unidad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @blog.jobs.each do |job| %>
        <tr>
          <th scope="row"> <%= job.id %> </th>
          <td><%= job.name %></td>
          <td>_1_</td>
          <td>_50_</td>
          <td>_m2_</td>
          <td>
            <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
              <i class="ti-pencil icon-white" aria-hidden="true"></i>
              </button>').html_safe, edit_project_blog_job_path(project_id: @project, blog_id: @blog, id: job)%>

            <button type="button" class="btn btn-outline-danger btn-circle delete-job"
                    data-job-id="<%= job.id %>" data-blog-id="<%= @blog.id %>">
              <i class="ti-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<%end%>
