<div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
  <h5 class="float-left">Trabajos realizados</h5>
  <button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
          id="new-job-button" data-toggle="modal" data-target="#concepts-modal">
    <i class="ti-plus"></i>
    Agregar trabajo
  </button>
</div>

<% if @blog.jobs.blank? %>

  <div class="layer w-100 p-20">
    <div class="row">
        <div class="col-md-10">
            <p class="lead">Actualmente no hay registros de trabajos en esta bitácora</p>
        </div>
    </div>
  </div>

<% else %>

  <div class="layer w-100 p-20">
    <table class="table table-hover" id="jobs-datatable" role="datatable">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Concepto</th>
          <th scope="col">Cantidad Avance</th>
          <th scope="col">Unidad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
      <% @blog.jobs.each do |job| %>
        <tr>
          <td><%= job.name %></td>
          <td><%= link_to job.concept.code, {:controller => :concepts, :action => :show, :id => job.concept.id} %></td>
          <td><%= job.quantity %></td>
          <td><%= job.concept.unity %></td>
          <td>
            <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
              <i class="ti-pencil icon-white" aria-hidden="true"></i>
              </button>').html_safe, edit_project_blog_job_path(project_id: @project, blog_id: @blog, id: job)%>

            <button type="button" class="btn btn-outline-danger btn-circle delete-job"
                    data-job-id="<%= job.id %>"
                    data-blog-id="<%= @blog.id %>"
                    data-project-id="<%= @project.id %>">
              <i class="ti-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<%end%>

<div class="modal fade" id="concepts-modal" tabindex="-1" role="dialog" aria-labelledby="conceptsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Elige concepto del nuevo trabajo:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with url: '#', id: "get-new-job-form", :local => true, :html => { :onsubmit => "return submitGetNewJobForm(#{@project.id}, #{@blog.id}, event)" } do |f| %>
        <div class="modal-body">
          <%= f.label :concept_id, "Clave y descripción del concepto: " %>
          <%= f.select(:concept_id, options_for_select(@concepts.map{|s|[s.code + ", " + s.description, s.id]}),
                       {:include_blank => 'Seleccione un concepto'},
                       {:class => 'form-control', :required => 'true'}) %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
          <%= f.submit "Continuar", class: 'btn btn-primary save-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>