<% provide(:title, 'Editar trabajo') %>
<div class="masonry-item col-md-10 offset-md-1">
  <!-- #Todo ==================== -->
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <h5>Editar Trabajo - <%= @job.name %></h5>
        <h6>Concepto: <%= @concept.code + ", " + @concept.description %></h6>
      </div>
      <div class="layer w-100 p-20">
        <table class="table">
          <tr>
            <td>Cantidad del concepto:</td>
            <td><%= @concept.quantity %> <%= @concept.unity %></td>
          </tr>
          <tr>
            <td>Cantidad avanzada en trabajos:</td>
            <td><%= @concept.sum_jobs_quantity %> <%= @concept.unity %></td>
          </tr>
          <tr>
            <td><strong>Cantidad restante:</strong></td>
            <td><strong><%= @concept.quantity - @concept.sum_jobs_quantity %> <%= @concept.unity %></strong></td>
          </tr>
        </table>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
