<%= form_for(@user, url: {action: "update_profile"}) do |f| %>
  <%= render 'layouts/errors_form', object: @user %>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <% if @edit_profile %>
          <div class="row">
            <% if !@readonly %>
              <div class="col-md-12">
                <p>Los campos marcados con '*' son obligatorios.</p>
              </div>
            <% end %>
            <div class="col-md-6 mT-15">
              <%= f.label :name, "#{@required_str}Nombre del usuario:" %>
              <%= f.text_field :name,
                               class:"form-control",
                               required: 'true',
                               placeholder: "e.g. Juan",
                               readonly: @readonly%>
            </div>
            <div class="col-md-6 mT-15">
              <%= f.label :name, "#{@required_str}Apellido: " %>
              <%= f.text_field :lastName,
                               class: 'form-control',
                               required: 'true',
                               :maxlength => 50,
                               placeholder: "e.g. Gama Moreno",
                               readonly: @readonly %>
            </div>

            <div class="col-md-6 mT-15">
              <%= f.label :birthday, "#{@required_str}Fecha de nacimiento: " %>
              <%= f.date_field :birthday,
                               class: 'form-control',
                               required: 'true', start_year: 1900,
                               readonly: @readonly %>
            </div>
            <div class="col-md-6 mT-15">
              <%= f.label :phone, "#{@required_str}Teléfono: " %>
              <%= f.text_field :phone,
                               class: 'form-control',
                               required: 'true',
                               :maxlength => 10,
                               placeholder: "e.g. 1234567",
                               readonly: @readonly %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mT-15">
              <%= f.label :email, "#{@required_str}Correo electrónico: " %>
              <%= f.email_field :email,
                                class: 'form-control',
                                required: 'true',
                                placeholder: "e.g. gama@mail.com",
                                readonly: @readonly %>
            </div>
          </div>
        <% end %>

        <% if @edit_password %>
          <div class="row">
            <div class="col-md-6 mT-15">
              <%= f.label :password, "#{@required_str}Contraseña" %>
              <%= f.password_field :password,
                                   class: 'form-control',
                                   :minlength => 6,
                                   :maxlength => 64,
                                   required: 'true',
                                   readonly: @readonly %>
            </div>
            <div class="col-md-6 mT-15">
              <%= f.label :password_confirmation, "#{@required_str}Confirmación de contraseña" %>
              <%= f.password_field :password_confirmation,
                                   class: 'form-control',
                                   required: 'true',
                                   readonly: @readonly %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if !@readonly %>
    <div id="form-footer">
      <hr>
      <%= link_to 'Cancelar', :back, class: 'btn btn-outline-danger' %>
      <%= f.submit "Guardar", class: 'btn btn-primary save-button' %>
    </div>
  <% end %>
<% end %>
