<% provide(:title, 'Usuarios') %>
<div class="masonry-item col-md-10 offset-md-1">
  <!-- #Todo ==================== -->
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <h5 class="float-left">Usuarios</h5>
        <button type="button" class="btn btn-outline-light float-right btn-sm" id="modal-trigger"
                data-toggle="modal" data-target="#">
          <i class="ti-user"></i>
          Roles
        </button>
        <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                      id="new-user-button"">
                      <i class="ti-plus"></i>
                      Registrar Usuario
                    </button>'.html_safe,
                    new_user_path
        %>
      </div>
      <div class="layer w-100 p-20 text-center">
        <table class="table table-hover datatable" id="users-datatable" role="datatable">
          <thead>
          <tr class="tableHead">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Estatus</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |a| %>
            <tr>
              <td><%= link_to a.name, {:action => 'show', :id => a.id} -%></td>
              <td><%= a.lastName-%></td>
              <!--Se podría poner un mailto con link en el mail  -->
              <td><%= a.email-%></td>
              <td><%= a.phone-%></td>
              <td><%#= if a.role.present? then  a.role.name end-%></td>
              <!-- Where status is -->
              <td>
                <label class="switch">
                  <input class="activate-switch status-user"
                     id="status-<%= "#{controller.controller_name}-#{a.id}" %>"
                     data-id="<%= "#{a.id}" %>"
                     name="<%= controller.controller_name %>"
                     type="checkbox"
                     <%= if (a.status)
                           "checked"
                         end %>>
                  <span class="slider round"></span>
                </label>
              </td>

              <td>

                <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                    <i class="ti-pencil icon-white" aria-hidden="true"></i>
                  </button>').html_safe, {action: :edit, :id => a.id } %>

                 <button type="button" class="btn btn-outline-danger btn-circle delete-user"
                    data-user-id="<%= a.id %>">
                    <i class="ti-trash" aria-hidden="true"></i>
                 </button>
            </tr>

          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>