<%= form_tag(project_user_projects_path(@project), method: "post",  id: "project-users-form",
             remote: true, html: { style: "display:inline;" }) do %>
  <div class="modal-body">
    <% if(@users.count > 0) %>
      <div class="table-responsive">
        <table class="table table-hover datatable" id="user-projects-new-datatable" role="datatable">
        <thead>
        <tr>
          <th>Nombre Completo</th>
          <th>Email</th>
          <th>Rol</th>
          <% if has_privilege(current_user, "user_6") %>
            <th>Estatus</th>
          <% end %>
          <th>Elegir</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |a| %>
          <tr>
            <td><%= a.name + ' ' + a.lastName -%></td>
            <td><%= a.email-%></td>
            <td><%= if a.role.present? then a.role.name end -%></td>
            <!-- Where status is -->
            <% if has_privilege(current_user, "user_6") %>
              <td>
                  <label class="switch">
                    <input class="activate-switch status-user"
                           type="checkbox"
                           <%= if (a.status)
                                 "checked"
                               end %> disabled>
                    <span class="slider round"></span>
                  </label>
              </td>
            <% end %>
            <td class="text-center">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input align-middle" type="checkbox" name="user_project[]"
                       id="<%= a.id %>" value="<%= a.id %>">
                <label class="custom-control-label align-top" for="<%= a.id %>"></label>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    <% else %>
      <p>Ya han sido asignados todos los usuarios a este proyecto.</p>
    <% end %>
  </div>
  <div class="modal-footer">
    <% if(@users.count > 0) %>
      <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
      <button type="submit" id="submit_users" name="save" value="ready" class="btn btn-primary">Guardar</button>
    <% else %>
      <button type="button" class="btn cancel-button-modal" data-dismiss="modal">Aceptar</button>
    <% end %>
  </div>
<% end %>