<% if has_privilege(current_user, "project_1") %>
<% provide(:title, 'Proyectos') %>
<div class="masonry-item col-md-12">
  <!-- #Todo ==================== -->
  <div class="bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <h5 class="float-left">Proyectos</h5>
        <% if has_privilege(current_user, "project_2") %>
        <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                      id="new-project-button"">
                      <i class="ti-plus"></i>
                      Registrar proyecto
                    </button>'.html_safe,
                    new_project_path
        %>
        <% end %>
      </div>
      <div class="layer w-100 p-20 text-center">
        <% if @projects.count > 0 %>
          <div class="row gap-50" id="projects-datatable">
            <% @projects.each do |project|%>
              <div class="col-md-4 col-sm-6">
                <div class="card project-card w-100 h-80" style="margin-top: 0;">
                  <% if project.image.attached? %>
                    <%= image_tag(project.image, {:class => "card-img-top project-avatar", :alt => "Imagen de proyecto"}) %>
                  <% else %>
                    <%= image_tag("logo2.png", {:class => "card-img-top project-avatar", :alt => "Card image cap"}) %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= project.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= project.code %></h6>
                    <p class="card-text">Inicio del proyecto: <%= project.start_date %></p>

                    <% if has_privilege(current_user, "project_6") %>
                      <p class="card-text">Estatus:
                        <% if project.status %>
                          Activo
                        <% else %>
                          Completado
                        <% end %>
                      </p>
                    <% end %>

                    <p class="card-text">
                      <div class="progress">
                      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                           role="progressbar"
                           aria-valuenow="<%= project.get_project_progress_100.round(2) %>"
                           aria-valuemin="0"
                           aria-valuemax="100"
                           style="width: <%= project.get_project_progress_100.round(2) %>%">
                        <%= project.get_project_progress_100.round(2) %>%
                      </div>
                    </div>
                    </p>
                    <%= link_to raw('<button type="button" class="btn btn-outline-primary btn-circle">
                          <i class="ti-eye icon-white" aria-hidden="true"></i>
                          </button>').html_safe, project_path(project) %>

                    <% if has_privilege(current_user, "project_3") %>
                    <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                        <i class="ti-pencil icon-white" aria-hidden="true"></i>
                      </button>').html_safe, edit_project_path(project) %>
                    <% end %>

                    <% if has_privilege(current_user, "project_4") %>
                    <button type="button" class="btn btn-outline-danger btn-circle delete-project"
                       data-project-id="<%= project.id %>">
                       <i class="ti-trash" aria-hidden="true"></i>
                    </button>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
            <h3>Aún no tienes proyectos asignados.</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
