<% provide(:title, 'Reportes del Proyecto') %>
<% if has_privilege(current_user, "project_8") %>
<div class="masonry-item col-md-12">
  <div class="bgc-grey-300">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15" style="padding-bottom: 0px !important;">
        <% if has_privilege(current_user, "project_1") %>
          <%= link_to '<button type="button" class="btn btn-outline-light btn-circle float-left">
                      <i class="ti-arrow-left"></i>
                    </button>'.html_safe,
                      projects_path
          %>
        <% end %>
        <h5 class="float-left pL-15">Proyecto - <%= @project.name %> - <%= @project.code%></h5>
        <%= render 'layouts/tabs' %>
      </div>
      <div class="layer w-100 pT-20 pB-20">
        <div class="row pL-15 pR-15">
          <div class="masonry-item col-lg-6 pB-15">
            <div class="bgc-white mB-15">
              <div class="layers">
                <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                  <h5 class="float-left fsz-md">Resumen de Avances por Categoría</h5>
                </div>
                <div class="layer w-100 p-20">
                  <% @categories.each do |c| %>
                    <% if !@project.concepts.where(category_id: c.id).blank? %>
                      <% progress = @project.get_category_progress_100(c.id).round(2) %>
                      <h6><%= c.name %></h6>
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             aria-valuenow="<%= progress %>"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: <%= progress %>%">
                          <%= progress %>%
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <hr>
                  <h6>Total</h6>
                  <div class="progress">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                         role="progressbar"
                         aria-valuenow="<%= @project.get_project_progress_100.round(2) %>"
                         aria-valuemin="0"
                         aria-valuemax="100"
                         style="width: <%= @project.get_project_progress_100.round(2) %>%">
                      <%= @project.get_project_progress_100.round(2) %>%
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class='col-sm-4 pB-15'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Costo Total Estimado de Proyecto</h6>
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw d-inline">
                      <div class="peer float-right">
                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500 float-right">
                          <%= number_to_currency(@project.get_estimated_cost) %>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-sm-4 pB-15'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Gasto Total Real de Proyecto</h6>
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw d-inline">
                      <div class="peer float-right">
                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">
                          <%= number_to_currency(@project.get_total_project_expenses) %>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class='col-sm-4 pB-15'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Ingreso Total</h6>
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw d-inline">
                      <div class="peer float-right">
                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500 float-right">
                          <%= number_to_currency(@project.sum_incomes) %>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="masonry-item col-lg-6 pB-15">
            <div class="bgc-white">
              <div class="layers">
                <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                  <h5 class="float-left fsz-md">Resumen de Avances por Concepto</h5>
                </div>
                <div class="layer w-100 p-20">
                  <% @project.concepts.each do |c| %>
                    <% progress = c.get_progress_100().round(2) %>
                    <h6 class="text-truncate"><%= c.code %>: <%= c.description %></h6>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated"
                           role="progressbar"
                           aria-valuenow="<%= progress %>"
                           aria-valuemin="0"
                           aria-valuemax="100"
                           style="width: <%= progress %>%">
                        <%= progress %>%
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="masonry-item col-lg-6 pB-15">
            <div class="bgc-white">
              <div class="layers">
                <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                  <h5 class="float-left fsz-md">Gasto por Categoría</h5>
                </div>
                <div class="layer w-100 p-20">
                  <%= pie_chart @project.get_expenses_by_category,
                                download: {filename: "proyecto_gastos_por_categoria"},
                                prefix: "$",
                                thousands: ",",
                                messages: {empty: "Sin datos"}%>
                </div>
              </div>
            </div>
          </div>

          <div class="masonry-item col-lg-6 pB-15">
            <div class="bgc-white">
              <div class="layers">
                <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                  <h5 class="float-left fsz-md">Gasto por Subcategoría</h5>
                </div>
                <div class="layer w-100 p-20">
                  <%= pie_chart @project.get_expenses_by_subcategory,
                                download: {filename: "proyecto_gastos_por_subcategoria"},
                                prefix: "$",
                                thousands: ",",
                                messages: {empty: "Sin datos"}%>
                </div>
              </div>
            </div>
          </div>

          <div class="masonry-item col-lg-6 pB-15">
            <div class="bgc-white">
              <div class="layers">
                <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                  <h5 class="float-left fsz-md">Gasto por Concepto</h5>
                </div>
                <div class="layer w-100 p-20">
                  <%= bar_chart @project.get_expenses_by_concept,
                                download: {filename: "proyecto_gastos_por_concepto"},
                                prefix: "$",
                                thousands: ",",
                                messages: {empty: "Sin datos"}%>
                </div>
              </div>
            </div>
          </div>

          <div class="masonry-item col-lg-6 pB-15">
            <div class="bgc-white">
              <div class="layers">
                <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                  <h5 class="float-left fsz-md">Gastos por Mes</h5>
                </div>
                <div class="layer w-100 p-20">
                  <%= line_chart @project.get_expenses_by_month,
                                 download: {filename: "proyecto_gastos_por_mes"},
                                 prefix: "$",
                                 thousands: ",",
                                 messages: {empty: "Sin datos"}%>
                </div>
              </div>
            </div>
          </div>

          <div class="masonry-item col-sm-12 pB-15">
            <div class="bgc-white">
              <div class="layers">
                <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                  <h5 class="float-left fsz-md">Gastos por Día</h5>
                </div>
                <div class="layer w-100 p-20">
                  <%= line_chart @project.get_expenses_by_day,
                                 download: {filename: "proyecto_gastos_por_dia"},
                                 prefix: "$",
                                 thousands: ",",
                                 messages: {empty: "Sin datos"}%>
                </div>
              </div>
            </div>
          </div>

          <div class="masonry-item col-lg-6 pB-15">
            <div class="bgc-white">
              <div class="layers">
                <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                  <h5 class="float-left fsz-md">Estimación vs Gasto Real por Concepto</h5>
                </div>
                <div class="layer w-100">
                  <% @project.concepts.each do |c| %>
                    <% c_expenses = c.sum_all_expenses().round(2) %>
                    <div class="layers bgc-white p-20">
                      <div class="layer w-100 mB-10">
                        <h6 class="text-truncate"><%= c.code %>: <%= c.description %></h6>
                      </div>
                      <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw d-inline">
                          <div class="peer float-right pL-20">
                    <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">
                      Gastado: <%= number_to_currency(c_expenses) %>
                    </span>
                          </div>
                          <div class="peer float-right">
                    <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">
                      Estimado: <%= number_to_currency(c.total) %>
                    </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="masonry-item col-lg-6 pB-15">
            <div class="bgc-white">
              <div class="layers">
                <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                  <h5 class="float-left fsz-md">Gasto por proveedor</h5>
                </div>
                <div class="layer w-100 p-20">
                  <%= bar_chart @project.get_expenses_by_supplier,
                                download: {filename: "proyecto_gastos_por_proveedor"},
                                height: "400px",
                                prefix: "$",
                                thousands: ",",
                                messages: {empty: "Sin datos"}%>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
