<% provide(:title, 'Proyecto') %>
<div class="masonry-item col-md-12">
  <!-- #Todo ==================== -->
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <%= link_to '<button type="button" class="btn btn-outline-light btn-circle float-left">
                      <i class="ti-arrow-left"></i>
                    </button>'.html_safe,
                    projects_path
        %>
        <h5 class="float-left pL-15">Proyecto - <%= @project.name %> - <%= @project.code%></h5>
        <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                      id="edit-project-button"">
                      <i class="ti-pencil"></i>
                      Editar datos
                    </button>'.html_safe,
                    edit_project_path(@project)
        %>
      </div>
      <div class="layer w-100 p-20 text-center">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">General</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Bitácoras</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Gastos</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <%= render "form" %>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <%= render template: "blogs/index" %>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Gastos</div>
        </div>
      </div>
    </div>
  </div>
</div>
