<% provide(:title, 'Proyecto') %>
<div class="masonry-item col-md-12">
  <div class="bgc-grey-300">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15" style="padding-bottom: 0px !important;">
        <% if has_privilege(current_user, "project_1") %>
        <%= link_to '<button type="button" class="btn btn-outline-light btn-circle float-left">
                      <i class="ti-arrow-left"></i>
                    </button>'.html_safe,
                    projects_path
        %>
        <% end %>
        <h5 class="float-left pL-15">Proyecto - <%= @project.name %> - <%= @project.code%></h5>
        <nav class="float-right">
          <div class="nav nav-tabs nav-fill" id="project-nav-tab" role="tablist">
            <% if has_privilege(current_user, "project_8") %>
              <%= link_to "Reportes", project_reports_project_path(@project), :class => "bdB nav-item nav-link c-white", :id => "nav-reports-tab" %>
            <% end %>

            <% if has_privilege(current_user, "project_1") %>
              <a class="bdB nav-item nav-link active c-white" id="nav-project-tab" >
                General
              </a>
            <% end %>

            <% if has_privilege(current_user, "blog_1") %>
              <%= link_to "Bitácoras", project_blogs_path(@project), :class => "bdB nav-item nav-link c-white", :id => "nav-blogs-tab" %>
            <% end %>

            <% if has_privilege(current_user, "concept_1") %>
              <%= link_to "Conceptos", project_concepts_path(@project), :class => "bdB nav-item nav-link c-white", :id => "nav-concepts-tab" %>
            <% end %>

            <% if has_privilege(current_user, "expenses_1") %>
              <%= link_to "Gastos", project_expenses_project_path(@project), :class => "bdB nav-item nav-link c-white", :id => "nav-expenses-tab" %>
            <% end %>

            <% if has_privilege(current_user, "userproject_1") %>
              <%= link_to "Usuarios", project_user_projects_path(@project), :class => "bdB nav-item nav-link c-white", :id => "nav-users-tab" %>
            <% end %>
          </div>
        </nav>
      </div>
      <div class="layer w-100 pT-20 pB-20">
        <div class="masonry-item col-md-12">
          <div class="bgc-white">
            <div class="layers">
              <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-10">
                <h5 class="float-left fsz-md">Datos Generales</h5>
                <% if has_privilege(current_user, "project_3") %>
                  <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                        id="edit-project-button"">
                        <i class="ti-pencil"></i>
                        Editar
                      </button>'.html_safe,
                              edit_project_path(@project)
                  %>
                <% end %>
              </div>
              <div class="layer w-100 p-20 text-center">
                <%= render "form" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>