<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <style type="text/css" media="screen">
        .container590 {
            max-width: 100% !important;
        }

        .imageEmailContact {
          display: inline;
          width: 80px;
        }

        .aImageContact {
          border-style: none !important;
          border: 0 !important;
        }

        .space-line {
          font-size: 25px;
          line-height: 25px;
          height: 25px;
        }

        .footer-email {
          background-color: #f4f4f4;
          text-align: center;
        }

        .container-collapse {
          border-collapse:collapse;
          mso-table-lspace:0pt;
          mso-table-rspace:0pt;
          text-align: center;
        }

        .container-contact-text {
          color: #888888;
          font-size: 14px;
          font-family: 'Work Sans', Calibri, sans-serif;
          line-height: 23px;
        }

        .container-text {
          color: #aaaaaa;
          font-size: 14px;
          font-family: 'Work Sans', Calibri, sans-serif;
          line-height: 24px;
        }

        .container-text > div > span{
          color: #333333;
        }

        .footer-text {
          font-size: 14px;
          font-family: 'Work Sans', Calibri, sans-serif;
          line-height: 24px;
          color: #5caad2;
          text-decoration: none;
          font-weight:bold;
        }
      </style>
  </head>
  <body>
    <h1>Hola <%= @user.name %> <%= @user.lastName%>, </h1>
      <p>
        Para completar el proceso de creación de tu cuenta en Inframex, es necesario
        que proporciones la contraseña en el siguiente formulario disponible en el
        enlace: <%= link_to "Completar registro", edit_password_url(@user.reset_digest,
                                                            email: @user.email) %><br/>
      </p>

    <p>¡Bienvenido a Inframex!</p>

    <div class="container590">
      <div class="container-collapse">
        <div class="space-line">&nbsp;</div>
        <a href="" class="aImageContact">
          <%= image_tag attachments['logo2.png'].url %>
        </a>
        <div class="space-line">&nbsp;</div>
        <div class="container-contact-text text_color">
          <div class="container-contact-text">
            Correo de contacto: <br/> <a href="mailto:" class="container-contact-text">inframex.qro@gmail.com</a>
          </div>

        </div>
        <div class="space-line">&nbsp;</div>
      </div>
    </div>

    <div class="footer-email">
      <div class="container590">
        <div class="space-line">&nbsp;</div>
        <div class="container-collapse">
          <div class="container-text">
            <div style="line-height: 24px;">
              <span>Derechos Reservados Inframex ®2018</span>
            </div>
          </div>
        </div>
        <div align="center">
          <%= link_to("INFRAMEX", "https://app.inframex.mx/", class: "footer-text") %>
        </div>
        <div class="space-line">&nbsp;</div>
      </div>
    </div>
  </body>
</html>
