<%= form_for [@project, @concept] do |f| %>
  <div class="row">
    <% if !@read_only %>
      <div class="col-md-12">
        <p>Los campos marcados con '*' son obligatorios. </p>
      </div>
    <% end %>
    <div class="col-md-12 mT-15">
      <%= f.label :code, "#{@required_str}Clave:" %>
      <%= f.text_field :code, class:"form-control", required: 'true', placeholder: "e.g. PRE001", :maxlength => 6, readonly: @read_only %>
    </div>
    <div class="col-md-12 mT-15">
      <%= f.label :category_id, "#{@required_str}Categoría del gasto:" %>
      <%= f.select(:category_id, options_for_select(@categories.map{|s|[s.name, s.id]}, @category_id),
                     {:include_blank => 'Seleccione una categoría'},
                     {:class => 'form-control', :required => 'true', :disabled => @read_only}) %>
    </div>
    <div class="col-md-12 mT-15">
      <%= f.label :description, "#{@required_str}Descripción:" %>
      <%= f.text_area :description,
                      class: 'form-control',
                      :maxlength => 1024,
                      placeholder: "e.g. Limpieza de terreno retirando basura y deshierbe fuera de la obra",
                      rows: 3,
                      required: true,
                      readonly: @read_only%>
    </div>
    <div class="col-md-12 mT-15">
      <%= f.label :quantity, "#{@required_str}Cantidad:" %>
      <%= f.number_field :quantity, 
        class: 'form-control', 
        required: 'true', 
        placeholder: "e.g. 225.00",
        step: 0.001,
        readonly: @read_only %>
    </div>
    <div class="col-md-12 mT-15">
      <%= f.label :unity, "#{@required_str}Unidad:" %>
      <%= f.text_field :unity, 
        class:"form-control", 
        required: 'true',
        placeholder: "e.g. m2", 
        readonly: @read_only %>
    </div>
    <div class="col-md-12 mT-15">
      <%= f.label :unit_price, "#{@required_str}Precio por Unidad:" %>
      <%= f.number_field :unit_price, 
        class:"form-control", 
        required: 'true',
        placeholder: "e.g. 204.44", 
        step: 0.001,
        readonly: @read_only %>
    </div>
    <div class="col-md-12 mT-15">
      <%= f.label :weight, "#{@required_str}Peso:" %>
      <%= f.number_field :weight,
                         class:"form-control",
                         required: 'true',
                         placeholder: "e.g. 10",
                         step: 0.001,
                         readonly: @read_only %>
    </div>
  </div>
  <% if !@read_only %>
    <div id="form-footer">
      <hr>
      <%= link_to '<button type="button" class="btn btn-outline-danger">Cancelar</button>'.html_safe, :back %>
      <%= f.submit "Guardar", class: 'btn btn-primary save-button' %>
    </div>
  <% end %>
<% end %>