<% provide(:title, 'Ver Concepto') %>
<div class="masonry-item col-lg-4">
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <% if has_privilege(current_user, "project_1") %>
        <%= link_to '<button type="button" class="btn btn-outline-light btn-circle float-left">
                      <i class="ti-arrow-left"></i>
                    </button>'.html_safe,
                    project_path(@project , :anchor => "nav-concepts")
        %>
        <% end %>
        <h5 class="float-left pL-15">Concepto - <%= @concept.code %></h5>
        <% if has_privilege(current_user, "concept_3") %>
        <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5">
                      <i class="ti-pencil"></i>
                    </button>'.html_safe,
                    edit_project_concept_path(:project_id => @project.id, :id => @concept.id)
        %>
        <% end %>
        <button type="button" class="btn btn-outline-light float-right delete-concept btn-sm mR-5"
                data-concept-id="<%= @concept.id %>" data-project-id="<%= @project.id %>">
          <i class="ti-trash" aria-hidden="true"></i>
        </button>
      </div>
      <div class="layer w-100 p-20 text-center">
        <%= render "form" %>
        <br>
        <h6>Progreso del Concepto:</h6>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated"
               role="progressbar" aria-valuenow="<%= @concept.get_progress_100.round(2) %>" aria-valuemin="0"
               aria-valuemax="100" style="width: <%= @concept.get_progress_100.round(2) %>%"><%= @concept.get_progress_100.round(2) %>%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-8">
  <div class="row gap-20">
    <!-- Expenses item -->
    <% if has_privilege(current_user, "expenses_1") %>
    <div class="masonry-item col-md-12">
      <div class="bd bgc-white">
        <div class="layers">
          <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
            <h5 class="float-left pL-15">Gastos del Concepto</h5>
          </div>
          <div class="layer w-100 p-20 text-center">
            <% if @expenses.count > 0 %>
              <table class="table table-hover" id="expenses-datatable" role="datatable">
                <thead>
                <tr class="tableHead">
                  <th>Nombre</th>
                  <th>Fecha</th>
                  <th>Total</th>
                  <th>Aprobado</th>
                  <th>Facturado</th>
                  <th>Bitácora</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <% @expenses.each do |a| %>
                  <tr>
                    <td><%= a.name-%></td>
                    <td><%= a.date-%></td>
                    <td class="text-right"><%= number_to_currency(a.total)-%></td>
                    <td>
                      <% if has_privilege(current_user, "expenses_5") %>
                      <label class="switch">
                        <input class="activate-switch status-expense" id="status-<%= "expenses-#{a.id}" %>"
                               data-id="<%= "#{a.id}" %>"
                               name="expenses"
                               type="checkbox"
                               <%= if (a.status)
                                     "checked"
                                   end %>>
                        <span class="slider round"></span>
                      </label>
                      <% end %>
                    </td>
                    <td>
                      <% if has_privilege(current_user, "expenses_5") %>
                      <label class="switch">
                        <input class="activate-switch status-ticket-expense"
                               id="status_ticket-<%= "expenses-#{a.id}" %>"
                               data-id="<%= "#{a.id}" %>"
                               name="expensesticket"
                               type="checkbox"
                               <%= if (a.status_ticket)
                                     "checked"
                                   end %>>
                        <span class="slider round"></span>
                      </label>
                      <% end %>
                    </td>
                    <td>
                      <% if has_privilege(current_user, "blog_1") %>
                      <%= link_to a.blog.name, project_blog_path(project_id: @concept.project_id, id: a.blog.id) %>
                      <% end %>
                    </td>
                    <td>
                      <% if has_privilege(current_user, "expenses_1") %>
                      <%= link_to raw('<button type="button" class="btn btn-outline-primary btn-circle">
                                    <i class="ti-eye icon-white" aria-hidden="true"></i>
                                    </button>').html_safe, {controller: :expenses, action: :show, :id => a.id, :project_id => @concept.project_id, :blog_id => a.blog.id} %>
                      <% end %>

                      <% if has_privilege(current_user, "expenses_3") %>
                      <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                    <i class="ti-pencil" aria-hidden="true"></i>
                   </button>').html_safe,  {controller: :expenses, action: :edit, :id => a.id, :project_id => @concept.project_id, :blog_id => a.blog.id}%>
                      <% end %>

                      <% if has_privilege(current_user, "expenses_4") %>
                      <button type="button" class="btn btn-outline-danger btn-circle delete-expense-ajax"
                              data-expense-id="<%= a.id %>"
                              data-blog-id="<%= a.blog.id %>"
                              data-project-id="<%= @concept.project_id %>">
                        <i class="ti-trash" aria-hidden="true"></i>
                      </button>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
                <tfooter>
                  <tr class="bgc-blue-grey-900">
                    <td class="c-white text-left" colspan="2"><strong>Total Aprobado:</strong></td>
                    <td class="c-white text-right"><strong><%= number_to_currency(@concept.sum_expenses_by_status(true)) %></strong></td>
                    <td colspan="4"></td>
                  </tr>
                  <tr class="bgc-blue-grey-900">
                    <td class="c-white text-left" colspan="2"><strong>Total:</strong></td>
                    <td class="c-white text-right"><strong><%= number_to_currency(@concept.sum_all_expenses) %></strong></td>
                    <td colspan="4"></td>
                  </tr>
                </tfooter>
              </table>
            <% else %>
              <div class="row">
                <div class="col-md-10">
                  <p class="lead">Actualmente no hay registros de gastos en este concepto</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <!-- Jobs item -->
    <% if has_privilege(current_user, "job_4") %>
      <div class="masonry-item col-md-12">
        <div class="bd bgc-white">
          <div class="layers">
            <%= render "jobs/index"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>