<% provide(:title, 'Ver Concepto') %>
<div class="masonry-item col-lg-4">
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <%= link_to '<button type="button" class="btn btn-outline-light btn-circle float-left">
                      <i class="ti-arrow-left"></i>
                    </button>'.html_safe,
                    project_path(@project , :anchor => "nav-concepts")
        %>
        <h5 class="float-left pL-15">Concepto - <%= @concept.code %></h5>
        <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5">
                      <i class="ti-pencil"></i>
                    </button>'.html_safe,
                    edit_project_concept_path(:project_id => @project.id, :id => @concept.id)
        %>
        <button type="button" class="btn btn-outline-light float-right delete-concept btn-sm mR-5"
                data-concept-id="<%= @concept.id %>" data-project-id="<%= @project.id %>">
          <i class="ti-trash" aria-hidden="true"></i>
        </button>
      </div>
      <div class="layer w-100 p-20 text-center">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-8">
  <div class="row gap-20">
    <!-- Expenses item -->
    <div class="masonry-item col-md-12">
      <div class="bd bgc-white">
        <div class="layers">
          <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
            <h5 class="float-left pL-15">Gastos del Concepto</h5>
          </div>
          <div class="layer w-100 p-20 text-center">
            <% if @concept.expenses.count > 0 %>
              <table class="table table-hover" id="expenses-datatable" role="datatable">
                <thead>
                <tr class="tableHead">
                  <th>Nombre</th>
                  <th>Fecha</th>
                  <th>Total</th>
                  <th>Aprobado</th>
                  <th>Facturado</th>
                  <th>Bitácora</th>
                  <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <% @concept.expenses.each do |a| %>
                  <tr>
                    <td><%= a.name-%></td>
                    <td><%= a.date-%></td>
                    <td class="text-right"><%= number_to_currency(a.total)-%></td>
                    <td>
                      <label class="switch">
                        <input class="activate-switch status-expense" id="status-<%= "expenses-#{a.id}" %>"
                               data-id="<%= "#{a.id}" %>"
                               name="expenses"
                               type="checkbox"
                               <%= if (a.status)
                                     "checked"
                                   end %>>
                        <span class="slider round"></span>
                      </label>
                    </td>
                    <td>
                      <label class="switch">
                        <input class="activate-switch status-ticket-expense"
                               id="status_ticket-<%= "expenses-#{a.id}" %>"
                               data-id="<%= "#{a.id}" %>"
                               name="expensesticket"
                               type="checkbox"
                               <%= if (a.status_ticket)
                                     "checked"
                                   end %>>
                        <span class="slider round"></span>
                      </label>
                    </td>
                    <td><%= link_to a.blog.name, project_blog_path(project_id: @concept.project_id, id: a.blog.id) %></td>
                    <td>
                      <%= link_to raw('<button type="button" class="btn btn-outline-primary btn-circle">
                                    <i class="ti-eye icon-white" aria-hidden="true"></i>
                                    </button>').html_safe, {controller: :expenses, action: :show, :id => a.id, :project_id => @concept.project_id, :blog_id => a.blog.id} %>
                      <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                    <i class="ti-pencil" aria-hidden="true"></i>
                   </button>').html_safe,  {controller: :expenses, action: :edit, :id => a.id, :project_id => @concept.project_id, :blog_id => a.blog.id}%>
                      <button type="button" class="btn btn-outline-danger btn-circle delete-expense-ajax"
                              data-expense-id="<%= a.id %>"
                              data-blog-id="<%= a.blog.id %>"
                              data-project-id="<%= @concept.project_id %>">
                        <i class="ti-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                <% end %>
                </tbody>
                <tfooter>
                  <tr class="bgc-blue-grey-900">
                    <td class="c-white text-left" colspan="2"><strong>Total Aprobado:</strong></td>
                    <td class="c-white text-right"><strong><%= number_to_currency(@concept.sum_expenses_by_status(true)) %></strong></td>
                    <td colspan="4"></td>
                  </tr>
                  <tr class="bgc-blue-grey-900">
                    <td class="c-white text-left" colspan="2"><strong>Total:</strong></td>
                    <td class="c-white text-right"><strong><%= number_to_currency(@concept.sum_all_expenses) %></strong></td>
                    <td colspan="4"></td>
                  </tr>
                </tfooter>
              </table>
            <% else %>
              <div class="row">
                <div class="col-md-10">
                  <p class="lead">Actualmente no hay registros de gastos en este concepto</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Jobs item -->
    <div class="masonry-item col-md-12">
      <div class="bd bgc-white">
        <div class="layers">
          <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
            <h5 class="float-left pL-15">Trabajos del Concepto</h5>
          </div>
          <div class="layer w-100 p-20 text-center">
            <% if @concept.jobs.count > 0 %>
              <table class="table table-hover" id="jobs-datatable" role="datatable">
                <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Cantidad Avance</th>
                  <th scope="col">Bitácora</th>
                  <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <% @concept.jobs.each do |job| %>
                  <tr>
                    <td><%= job.name %></td>
                    <td><%= job.blog.date %></td>
                    <td class="text-right <%= job.blog.status ? 'text-success' : 'text-danger' %> "><%= number_with_delimiter(job.quantity) %> <%= job.concept.unity %></td>
                    <td><%= link_to job.blog.name, project_blog_path(project_id: @concept.project_id, id: job.blog.id) %></td>
                    <td>
                      <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                            <i class="ti-pencil icon-white" aria-hidden="true"></i>
                            </button>').html_safe,
                                  edit_project_blog_job_path(project_id: @concept.project_id, blog_id: job.blog.id, id: job)%>
                      <button type="button" class="btn btn-outline-danger btn-circle delete-job"
                              data-job-id="<%= job.id %>"
                              data-blog-id="<%= job.blog.id %>"
                              data-project-id="<%= @concept.project_id %>">
                        <i class="ti-trash" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                <% end %>
                </tbody>
                <tfooter>
                  <tr class="bgc-blue-grey-900">
                    <td class="c-white text-left" colspan="2"><strong>Total Aprobado:</strong></td>
                    <td class="c-white text-right">
                      <strong>
                        <%= number_with_delimiter(@concept.sum_jobs_quantity_by_status(true)) %> <%= @concept.unity %>
                      </strong>
                    </td>
                    <td colspan="2"></td>
                  </tr>
                  <tr class="bgc-blue-grey-900">
                    <td class="c-white text-left" colspan="2"><strong>Total:</strong></td>
                    <td class="c-white text-right">
                      <strong>
                        <%= number_with_delimiter(@concept.sum_all_jobs_quantity) %> <%= @concept.unity %>
                      </strong>
                    </td>
                    <td colspan="2"></td>
                  </tr>
                </tfooter>
              </table>
            <% else %>
              <div class="row">
                <div class="col-md-10">
                  <p class="lead">Actualmente no hay registros de trabajos en este concepto</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
</div>
  </div>
</div>