<% provide(:title, 'Categorías') %>
<div class="masonry-item col-md-6">
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <h5 class="float-left pL-15">Categorías</h5>
        <a id="modal-trigger"
           href="<%= new_category_path %>" data-remote="true"
           data-toggle="modal" data-target="#category-modal">
          <button type="button" class="btn btn-outline-light float-right btn-sm mR-5">
            <i class="ti-plus"></i>
            Registrar Categoría
          </button>
        </a>
      </div>
      <div class="layer w-100 p-20 text-center">
        <% if @categories.blank? %>
          <h5> Actualmente no se encuentra ninguna categoría registrada en el sistema</h5>
        <% else %>
          <table class="table table-hover" id="categories-datatable" role="datatable">
            <thead>
            <tr class="tableHead">
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @categories.each do |a| %>
              <tr>
                <td><%= a.name -%></td>
                <td>
                  <a id="modal-trigger"
                     href="<%= edit_category_path(a.id) %>" data-remote="true"
                     data-toggle="modal" data-target="#category-modal">
                    <button type="button" class="btn btn-outline-warning btn-circle">
                      <i class="ti-pencil icon-white" aria-hidden="true"></i>
                    </button>
                  </a>
                  <button type="button" class="btn btn-outline-danger btn-circle delete-category-ajax"
                          data-category-id="<%= a.id %>">
                    <i class="ti-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>

            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="masonry-item col-md-6">
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
          <h5 class="float-left pL-15">Subcategorías</h5>
          <a id="modal-trigger"
             href="<%= new_subcategory_path %>" data-remote="true"
             data-toggle="modal" data-target="#subcategory-modal">
            <button type="button" class="btn btn-outline-light float-right btn-sm mR-5">
              <i class="ti-plus"></i>
              Registrar Subcategoría
            </button>
          </a>
      </div>
      <div class="layer w-100 p-20 text-center">
        <% if @subcategories.blank? %>
          <h5> Actualmente no se encuentra ninguna subcategoría registrada en el sistema</h5>
        <% else %>
          <table class="table table-hover" id="subcategories-datatable" role="datatable">
            <thead>
            <tr class="tableHead">
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @subcategories.each do |b| %>
              <tr>
                <td><%= b.name -%></td>
                <td>
                  <a id="modal-trigger"
                     href="<%= edit_subcategory_path(b.id) %>" data-remote="true"
                     data-toggle="modal" data-target="#subcategory-modal">
                    <button type="button" class="btn btn-outline-warning btn-circle">
                      <i class="ti-pencil icon-white" aria-hidden="true"></i>
                    </button>
                  </a>
                  <button type="button" class="btn btn-outline-danger btn-circle delete-subcategory-ajax"
                          data-subcategory-id="<%= b.id %>">
                    <i class="ti-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>

            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="category-modal" role="dialog" aria-labelledby="user-label" aria-hidden="true">
</div>