<% provide(:title, 'Categorías') %>
<div class="masonry-item col-md-6">
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <h5 class="float-left pL-15">Categorías</h5>
        <button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                id="new-role-button" data-toggle="modal" data-target="#new-category-modal">
          <i class="ti-plus"></i>
          Registrar Categoría
        </button>
      </div>
      <div class="layer w-100 p-20 text-center">
        <% if @categories.blank? %>
          <h5> Actualmente no se encuentra ninguna categoría registrada en el sistema</h5>
        <% else %>
          <table class="table table-hover" id="categories-datatable" role="datatable">
            <thead>
            <tr class="tableHead">
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @categories.each do |a| %>
              <tr>
                <td><%= a.name -%></td>
                <td>
                  <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                                   <i class="ti-pencil"></i>
                                 </button>'),
                              edit_category_path(a), data: {remote: 'true'} %>
                  <button type="button" class="btn btn-outline-danger btn-circle delete-category-ajax"
                          data-category-id="<%= a.id %>">
                    <i class="ti-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>

            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="masonry-item col-md-6">
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
          <h5 class="float-left pL-15">Subcategorías</h5>
          <button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                  id="new-role-button" data-toggle="modal" data-target="#new-subcategory-modal">
            <i class="ti-plus"></i>
            Registrar Subcategoría
          </button>
      </div>
      <div class="layer w-100 p-20 text-center">
        <% if @subcategories.blank? %>
          <h5> Actualmente no se encuentra ninguna subcategoría registrada en el sistema</h5>
        <% else %>
          <table class="table table-hover" id="subcategories-datatable" role="datatable">
            <thead>
            <tr class="tableHead">
              <th>Nombre</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @subcategories.each do |b| %>
              <tr>
                <td><%= b.name -%></td>
                <td>
                  <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                                   <i class="ti-pencil"></i>
                                 </button>'),
                              edit_subcategory_path(b), data: {remote: 'true'} %>
                  <button type="button" class="btn btn-outline-danger btn-circle delete-subcategory-ajax"
                          data-subcategory-id="<%= b.id %>">
                    <i class="ti-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>

            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div id="edit-category-modal-target"></div>
<div id="new-category-modal-target">
  <%= render "categories/new" %>
</div>

<div id="edit-subcategory-modal-target"></div>
<div id="new-subcategory-modal-target">
  <%= render "subcategories/new" %>
</div>