<div id="edit-file-expense-modal" class="modal fade" role="dialog" aria-labelledby="edit-file-expense-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar archivo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for @image, :url => { :controller => "expenses", :action => "update_image_info"}, html: { style: "display:inline;" } do |f|%>
        <div class="modal-body">
          <div class="input-field">
            <%= f.label :filename, "Nombre del archivo " %>
            <%= f.text_field :filename, class: 'form-control', required: true, :maxlength => 100%>
          </div>
          <div class="input-field">
            <%= f.label :description, "Descripción: " %>
            <%= f.text_field :description, class: 'form-control', :maxlength => 100%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
          <button type="submit " name="save" value="ready" class="btn btn-primary">Guardar</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
