<%= form_for @expense do |f| %>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-md-12">
            <p>Los campos marcados con '*' son obligatorios. </p>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :name, "* Nombre del gasto:" %>
            <%= f.text_field :name, class:"form-control", required: 'true', placeholder: "e.g. Cambiar esto" %>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :supplier_name, "* Nombre del proveedor:" %>
            <%= f.text_field :supplier_name, class:"form-control", required: 'true', placeholder: "e.g. Cambiar esto", data: { autocomplete_source: suppliers_path} %>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :concept_id, "* Clave del concepto:" %>
            <select name="expense[concept_id]" class="form-control">
              <% if @mode_edit %>
                <option value="<%= @expense.concept_id %>" selected disabled> <%= @expense.concept.code %></option>
              <% else %>
                <option value="" selected disabled> Seleccione un concepto </option>
              <% end %>
              <% @concepts.each do |a| %>
                <option value=<%= a.id %>><%= a.code %> - <%= a.category.name %></option>
              <% end %>
            </select>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :subcategory_id, "Subcategoría del gasto:" %>
            <select name="expense[subcategory_id]" class="form-control">
              <% if @mode_edit %>
                <option value="<%= @expense.subcategory_id %>" selected disabled> <%= @expense.subcategory.name %></option>
              <% else %>
                <option value="" selected disabled> Seleccione una subcategoría </option>
              <% end %>
              <% @subcategories.each do |a| %>
                <option value=<%= a.id %>><%= a.name %></option>
              <% end %>
            </select>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :date, "* Fecha: " %>
            <%= f.date_field :date,
                             class: 'form-control',
                             required: 'true', start_year: 2000%>
          </div>
          <div class="col-md-6 mT-15">
              <%= f.label :quantity, "Cantidad:" %>
              <%= f.text_field :quantity, class: 'form-control', required: 'true', placeholder: "e.g. Cambiar esto" %>
          </div>
          <div class="col-md-6 mT-15">
            <%= f.label :unity, "* Unidad:" %>
            <%= f.text_field :unity, class:"form-control", required: 'true', placeholder: "e.g. Cambiar esto" %>
          </div>
          <div class="col-md-6 mT-15">
            <%= f.label :unit_price, "* Precio por Unidad:" %>
            <%= f.text_field :unit_price, class:"form-control", required: 'true', placeholder: "e.g. Cambiar esto" %>
          </div>
          <div class="col-md-6 mT-15">
            <label>Aprobado:</label>
            <div class="row">
              <div class="col-md-2 col-sm-2" align="center">
                <label class="switch">
                  <%= f.check_box :status %>
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-6 mT-15">
            <label>Facturado:</label>
            <div class="row">
              <div class="col-md-2 col-sm-2" align="center">
                <label class="switch">
                  <%= f.check_box :status_ticket %>
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  <div id="form-footer">
    <hr>
    <%= link_to '<button type="button" class="btn btn-outline-danger">Cancelar</button>'.html_safe, expenses_path %>
    <%= f.submit "Guardar", class: 'btn save-button' %>
  </div>
<% end %>