<%= form_for [@project, @blog, @expense] do |f| %>
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <% if !@read_only %>
            <div class="col-md-12">
              <p>Los campos marcados con '*' son obligatorios. </p>
            </div>
          <% end %>

          <div class="col-md-6 mT-15">
            <%= f.label :name, "#{@required_str}Nombre del gasto:" %>
            <%= f.text_field :name, class:"form-control", required: 'true', placeholder: "e.g. Aplicación Estuco", readonly: @read_only %>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :supplier_name, "#{@required_str}Nombre del proveedor:" %>
            <%= f.autocomplete_field :supplier_name, autocomplete_supplier_name_project_blog_expenses_path, class:"form-control", required: 'true', placeholder: "e.g. Azupiso", readonly: @read_only %>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :concept_id, "#{@required_str}Clave y descripción del concepto:" %>
            <%= f.select(:concept_id, options_for_select(@concepts.map{|s|[s.code + ", " + s.description, s.id]}, @concept_id),
                         {:include_blank => 'Seleccione un concepto'},
                         {:class => 'form-control', :required => 'true', :disabled => @read_only}) %>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :subcategory_id, "Subcategoría del gasto:" %>
            <%= f.select(:subcategory_id, options_for_select(@subcategories.map{|s|[s.name, s.id]}, @subcategory_id),
                         {:include_blank => 'Seleccione una subcategoría'},
                         {:class => 'form-control', :required => 'true', :disabled => @read_only}) %>
          </div>

          <div class="col-md-6 mT-15">
            <%= f.label :date, "#{@required_str}Fecha: " %>
            <%= f.date_field :date,
                             class: 'form-control',
                             required: 'true', start_year: 2000, readonly: @read_only%>
          </div>
          <div class="col-md-6 mT-15">
            <%= f.label :quantity, "#{@required_str}Cantidad:" %>
            <%= f.number_field :quantity, 
              class: 'form-control', 
              required: 'true', 
              placeholder: "e.g. 12", 
              step: 0.001,
              readonly: @read_only %>
          </div>
          <div class="col-md-6 mT-15">
            <%= f.label :unity, "#{@required_str}Unidad:" %>
            <%= f.text_field :unity, 
              class:"form-control", 
              required: 'true',
              placeholder: "e.g. m2", 
              readonly: @read_only %>
          </div>
          <div class="col-md-6 mT-15">
            <%= f.label :unit_price, "#{@required_str}Precio por Unidad:" %>
            <%= f.number_field :unit_price, 
              class:"form-control", 
              required: 'true', 
              placeholder: "e.g. 45.00",
              step: 0.001,
              readonly: @read_only %>
          </div>

          <% if has_privilege(current_user, "expenses_7") %>
            <% if !@read_only %>
              <% if has_privilege(current_user, "expenses_5") or @create%>
                <div class="col-md-6 mT-15">
                  <label for = "user_status">Aprobado:</label>
                  <div class="row">
                    <div class="col-md-2 col-sm-2" align="center">
                      <label class="switch">
                        <% @read_only ? @var = "return false;" : @var = ""%>
                        <%= f.check_box :status, onclick: @var %>
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="col-md-6 mT-15">
                <label for = "user_status">Aprobado:</label>
                <div class="row">
                  <div class="col-md-2 col-sm-2" align="center">
                    <label class="switch">
                      <% @read_only ? @var = "return false;" : @var = ""%>
                      <%= f.check_box :status, onclick: @var %>
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <% if has_privilege(current_user, "expenses_8") %>
            <% if !@read_only %>
              <% if has_privilege(current_user, "expenses_6") or @create%>
                <div class="col-md-6 mT-15">
                  <label>Facturado:</label>
                  <div class="row">
                    <div class="col-md-2 col-sm-2" align="center">
                      <label class="switch">
                        <% @read_only ? @var = "return false;" : @var = ""%>
                        <%= f.check_box :status_ticket, onclick: @var %>
                        <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="col-md-6 mT-15">
                <label>Facturado:</label>
                <div class="row">
                  <div class="col-md-2 col-sm-2" align="center">
                    <label class="switch">
                      <% @read_only ? @var = "return false;" : @var = ""%>
                      <%= f.check_box :status_ticket, onclick: @var %>
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>


        </div>
      </div>
    </div>
  <% if !@read_only %>
  <div id="form-footer">
    <hr>
    <%= link_to 'Cancelar', :back, class: 'btn btn-outline-danger' %>
    <%= f.submit "Guardar", class: 'btn btn-primary save-button' %>
  </div>
  <% end %>
<% end %>