<div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
  <h5 class="float-left">Gastos realizados</h5>
  <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                  id="new-job-button">
                  <i class="ti-plus"></i>
                  Agregar gasto
                </button>'.html_safe,
              new_project_blog_expense_path(@project, @blog)
  %>
</div>


<% if @blog.expenses.blank? %>

  <div class="layer w-100 p-20 text-center">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Actualmente no hay registros de gastos en esta bitácora</p>
      </div>
    </div>
  </div>

<% else %>

  <div class="layer w-100 p-20">
    <table class="table table-hover" id="expenses-datatable" role="datatable">
      <thead>
      <tr class="tableHead">
        <th>Nombre</th>
        <th>Concepto</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Aprobado</th>
        <th>Facturado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @expenses.each do |a| %>
        <tr>
          <td><%= a.name-%></td>
          <td><%= link_to a.concept.code, {:controller => :concepts, :action => :show, :id => a.concept.id} %></td>
          <td><%= a.date-%></td>
          <td><%= a.total-%></td>
          <td>
            <label class="switch">
              <input class="activate-switch status-expense" id="status-<%= "expenses-#{a.id}" %>"
                     data-id="<%= "#{a.id}" %>"
                     name="expenses"
                     type="checkbox"
                     <%= if (a.status)
                           "checked"
                         end %>>
              <span class="slider round"></span>
            </label>
          </td>
          <td>
            <label class="switch">
              <input class="activate-switch status-ticket-expense"
                     id="status_ticket-<%= "expenses-#{a.id}" %>"
                     data-id="<%= "#{a.id}" %>"
                     name="expensesticket"
                     type="checkbox"
                     <%= if (a.status_ticket)
                           "checked"
                         end %>>
              <span class="slider round"></span>
            </label>
          </td>
          <td>
            <%= link_to raw('<button type="button" class="btn btn-outline-primary btn-circle">
                                  <i class="ti-eye icon-white" aria-hidden="true"></i>
                                  </button>').html_safe, {controller: :expenses, action: :show, :id => a.id, :project_id => @project.id, :blog_id => @blog.id} %>
            <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                  <i class="ti-pencil" aria-hidden="true"></i>
                 </button>').html_safe,  {controller: :expenses, action: :edit, :id => a.id, :project_id => @project.id, :blog_id => @blog.id}%>
            <button type="button" class="btn btn-outline-danger btn-circle delete-expense-ajax"
                    data-expense-id="<%= a.id %>"
                    data-blog-id="<%= @blog.id %>"
                    data-project-id="<%= @project.id %>">
              <i class="ti-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

      <% end %>
      </tbody>
    </table>
  </div>

<%end%>