<div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
  <h5 class="float-left">Gastos realizados</h5>
  <% if has_privilege(current_user, "expenses_2") %>
  <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5"
                  id="new-job-button">
                  <i class="ti-plus"></i>
                  Agregar gasto
                </button>'.html_safe,
              new_project_blog_expense_path(@project, @blog)
  %>
  <% end %>
</div>


<% if @blog.expenses.blank? %>

  <div class="layer w-100 p-20 text-center">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">Actualmente no hay registros de gastos en esta bitácora</p>
      </div>
    </div>
  </div>

<% else %>

  <div class="layer w-100 p-20">
    <div class="table-responsive">
      <table class="table table-hover datatable" id="expenses-datatable" role="datatable">
      <thead>
      <tr class="tableHead">
        <th>Nombre</th>
        <th>Concepto</th>
        <th>Fecha</th>
        <th>Total</th>
        <% if has_privilege(current_user, "expenses_7") %>
          <th>Aprobado</th>
        <% end %>

        <% if has_privilege(current_user, "expenses_8") %>
          <th>Facturado</th>
        <% end %>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
        <% @expenses.each do |a| %>
          <tr>
            <td><%= a.name-%></td>
            <td>
              <% if has_privilege(current_user, "expenses_4") %>
              <%= link_to a.concept.code, {:controller => :concepts, :action => :show, :id => a.concept.id} %>
              <% end %>
            </td>
            <td><%= a.date-%></td>
            <td><%= number_to_currency(a.total)-%></td>
            <% if has_privilege(current_user, "expenses_7") %>
              <td>
                <% if has_privilege(current_user, "expenses_5") %>
                <label class="switch">
                  <input class="activate-switch status-expense" id="status-<%= "expenses-#{a.id}" %>"
                         data-id="<%= "#{a.id}" %>"
                         name="expenses"
                         type="checkbox"
                         <%= if (a.status)
                               "checked"
                             end %>>
                  <span class="slider round"></span>
                </label>
                <% else %>
                  <label class="switch">
                    <input class="activate-switch status-expense"
                           type="checkbox"
                           <%= if (a.status)
                                 "checked"
                               end %> disabled>
                    <span class="slider round"></span>
                  </label>
                <% end %>
              </td>
            <% end %>

            <% if has_privilege(current_user, "expenses_8") %>
              <td>
                <% if has_privilege(current_user, "expenses_6") %>
                  <label class="switch">
                    <input class="activate-switch status-ticket-expense"
                           id="status_ticket-<%= "expenses-#{a.id}" %>"
                           data-id="<%= "#{a.id}" %>"
                           name="expensesticket"
                           type="checkbox"
                           <%= if (a.status_ticket)
                                 "checked"
                               end %>>
                    <span class="slider round"></span>
                  </label>
                <% else %>
                  <label class="switch">
                    <input class="activate-switch status-ticket-expense"
                           type="checkbox"
                           <%= if (a.status_ticket)
                                 "checked"
                               end %> disabled>
                    <span class="slider round"></span>
                  </label>
                <% end %>
              </td>
            <% end %>
            <td>
              <% if has_privilege(current_user, "expenses_1") %>
              <%= link_to raw('<button type="button" class="btn btn-outline-primary btn-circle">
                                    <i class="ti-eye icon-white" aria-hidden="true"></i>
                                    </button>').html_safe, {controller: :expenses, action: :show, :id => a.id, :project_id => @project.id, :blog_id => @blog.id} %>
              <% end %>

              <% if has_privilege(current_user, "expenses_3") %>
              <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                    <i class="ti-pencil" aria-hidden="true"></i>
                   </button>').html_safe,  {controller: :expenses, action: :edit, :id => a.id, :project_id => @project.id, :blog_id => @blog.id}%>
              <% end %>

              <% if has_privilege(current_user, "expenses_4") %>
              <button type="button" class="btn btn-outline-danger btn-circle delete-expense-ajax"
                      data-expense-id="<%= a.id %>"
                      data-blog-id="<%= @blog.id %>"
                      data-project-id="<%= @project.id %>">
                <i class="ti-trash" aria-hidden="true"></i>
              </button>
              <% end %>
            </td>
          </tr>

        <% end %>
      </tbody>
      <tfooter>
        <tr class="bgc-blue-grey-900">
          <td class="c-white text-left" colspan="3"><strong>Total Aprobado</strong></td>
          <td class="c-white"><strong><%= number_to_currency(@blog.sum_expenses_by_status(true)) %></strong></td>
          <td colspan="3"></td>
        </tr>
        <tr class="bgc-blue-grey-900">
          <td class="c-white text-left" colspan="3"><strong>Total</strong></td>
          <td class="c-white"><strong><%= number_to_currency(@blog.sum_all_expenses) %></strong></td>
          <td colspan="3"></td>
        </tr>
      </tfooter>
    </table>
    </div>
  </div>

<%end%>