<% provide(:title, 'Gastos') %>
<div class="masonry-item col-md-12">
  <div class="bd bgc-white">
    <div class="layers">
      <div class="bgc-blue-grey-600 c-white d-inline layer w-100 p-15">
        <h5 class="float-left pL-15">Gastos</h5>
        <%= link_to '<button type="button" class="btn btn-outline-light float-right btn-sm mR-5">
                      <i class="ti-plus"></i>
                      Registrar Gasto
                    </button>'.html_safe,
                    new_expense_path
        %>
      </div>
      <div class="layer w-100 p-20 text-center">
        <% if @expenses.blank? %>
          <h5> Actualmente no se encuentra ningún gasto registrado en el sistema</h5>
        <% else %>
          <table class="table table-hover" id="expenses-datatable" role="datatable">
            <thead>
            <tr class="tableHead">
              <th>Nombre</th>
              <th>Proveedor</th>
              <th>Concepto</th>
              <th>Subcategoría</th>
              <th>Fecha</th>
              <th>Total</th>
              <th>Aprobado</th>
              <th>Facturado</th>
              <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% @expenses.each do |a| %>
              <tr>
                <td><%= a.name-%></td>
                <td><%= a.supplier.name-%></td>
                <td><%= link_to a.concept.code, {:controller => :concepts, :action => :show, :id => a.concept.id} %></td>
                <td><%= a.subcategory.name-%></td>
                <td><%= a.date-%></td>
                <td><%= a.total-%></td>
                <td><label class="switch">
                  <input class="activate-switch status-user" id="status-<%= "#{controller.controller_name}-#{a.id}" %>"
                         data-number="<%= "#{a.id}" %>" name="<%= controller.controller_name %>" type="checkbox"
                         <%= if (a.status)
                               "checked"
                             end %>>
                  <span class="slider round"></span>
                </label></td>
                <td><label class="switch">
                  <input class="activate-switch status-user" id="status_ticket-<%= "#{controller.controller_name}-#{a.id}" %>"
                         data-number="<%= "#{a.id}" %>" name="<%= controller.controller_name %>" type="checkbox"
                         <%= if (a.status_ticket)
                               "checked"
                             end %>>
                  <span class="slider round"></span>
                </label></td>
                <td>
                  <%= link_to raw('<button type="button" class="btn btn-outline-primary btn-circle">
                                  <i class="ti-eye icon-white" aria-hidden="true"></i>
                                  </button>').html_safe, {action: :show, :id => a.id } %>
                  <%= link_to raw('<button type="button" class="btn btn-outline-warning btn-circle">
                  <i class="ti-pencil" aria-hidden="true"></i>
                 </button>').html_safe, edit_expense_path(a.id)%>
                  <button type="button" class="btn btn-outline-danger btn-circle delete-expense-ajax"
                          data-expense-id="<%= a.id %>">
                    <i class="ti-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>

            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>

    </div>
  </div>
</div>