<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="/projects">
            <div class="peers ai-c fxw-nw align-items-center">
              <div class="peer">
                <div class="logo">
                  <%= image_tag "small_logo.png", :style => "height: 58px; width: 60px; padding: 5px;" %>
                </div>
              </div>
              <div class="peer peer-greed">
<!--                <h5 class="lh-1 mB-0 logo-text">Inframex</h5>-->
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <% if has_privilege(current_user, "project_1") %>
      <li class="nav-item">
        <%= link_to raw('
          <span class="icon-holder">
            <i class="c-blue-500 ti-home"></i>
          </span>
          <span class="title">Proyectos</span>
        ').html_safe, projects_path, class: "sidebar-link" %>
      </li>
      <% end %>

      <% if has_privilege(current_user, "user_1") %>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
                  <span class="icon-holder">
                    <i class="c-blue-500 ti-user"></i>
                  </span>
          <span class="title">Usuarios</span>
          <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Usuarios", users_path , class: "sidebar-link"%>
          </li>
          <% if has_privilege(current_user, "user_2") %>
          <li>
            <%= link_to "Registrar Usuario", new_user_path , class: "sidebar-link"%>
          </li>
          <% end %>

          <% if has_privilege(current_user, "rbac_1") %>
          <li>
            <%= link_to "Roles", roles_path , class: "sidebar-link"%>
          </li>
          <% end %>
        </ul>
      </li>
      <% end %>

      <% if has_privilege(current_user, "category_4") %>
      <li class="nav-item">
        <a class='sidebar-link' href="/categories">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-clipboard"></i>
                </span>
          <span class="title">Categorías</span>
        </a>
      </li>
      <% end %>
      <li class="nav-item">
        <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-stats-up"></i>
                </span>
          <span class="title">Reportes</span>
        </a>
      </li>
      <hr>
      <li class="nav-item">
        <a class='sidebar-link' href="/perfil">
                <span class="icon-holder">
                  <i class="c-black ti-user"></i>
                </span>
          <span class="title">Perfil</span>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to raw('
          <span class="icon-holder">
            <i class="c-black ti-power-off"></i>
          </span>
          <span class="title">Cerrar Sesión</span>
        ').html_safe, logout_path, class: "sidebar-link" %>
      </li>
    </ul>
  </div>
</div>
